@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", system-ui, sans-serif;
  --font-body: "DM Sans", system-ui, sans-serif;
}

@import "../../css/base.css";
@import "../../css/animations.css";
@import "../../css/components.css";
@import "../../css/sections.css";
@import "../../css/utilities.css";
