<section id="chart-container" class="max-w-[1200px] mx-auto px-8 pb-8 hidden">
  <div class="card card--hover p-6" data-animate>
    <div id="chart" class="chart-min-height"></div>
  </div>
</section>
