<section id="series-toggles" class="series-toggles-container hidden">
  <div class="series-toggles">
    <label class="btn series-toggle">
      <input type="checkbox" id="toggle-visa-rate" checked>
      <span class="toggle-indicator visa-rate"></span>
      <span class="toggle-label">Visa Rate</span>
    </label>
    <label class="btn series-toggle">
      <input type="checkbox" id="toggle-mc-rate" checked>
      <span class="toggle-indicator mc-rate"></span>
      <span class="toggle-label">Mastercard Rate</span>
    </label>
    <label class="btn series-toggle">
      <input type="checkbox" id="toggle-ecb-rate" checked>
      <span class="toggle-indicator ecb-rate"></span>
      <span class="toggle-label">ECB Rate</span>
    </label>
    <label class="btn series-toggle">
      <input type="checkbox" id="toggle-visa-markup" checked>
      <span class="toggle-indicator visa-markup"></span>
      <span class="toggle-label">Visa Markup</span>
    </label>
  </div>
</section>
