<section id="time-range-selector" class="time-range-container hidden">
  <div class="time-range-buttons">
    <button class="btn time-range-btn" data-range="1m">1M</button>
    <button class="btn time-range-btn" data-range="3m">3M</button>
    <button class="btn time-range-btn" data-range="6m">6M</button>
    <button class="btn btn--active time-range-btn" data-range="1y">1Y</button>
    <button class="btn time-range-btn" data-range="5y">5Y</button>
    <button class="btn time-range-btn" data-range="all">All</button>
  </div>
</section>
