name: Lint & Typecheck

on:
  workflow_call:

jobs:
  lint-check:
    name: Lint & Typecheck
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup JS environment
        uses: ./.github/actions/setup-js

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run check

      - name: Build
        run: bun run build

      - name: Lint Generated HTML
        run: bun run lint:html

      - name: Lint GitHub Actions
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
        shell: bash
