name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-typecheck:
    uses: ./.github/workflows/_lint-typecheck.yml

  unit-integration:
    uses: ./.github/workflows/_unit-integration.yml

  smoke:
    uses: ./.github/workflows/_smoke.yml

  e2e:
    uses: ./.github/workflows/_e2e.yml
