name: Update Data

on:
  schedule:
    - cron: '0 17 * * *'
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  update-rates:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    permissions:
      contents: write
      issues: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup JS environment
        uses: ./.github/actions/setup-js
        with:
          playwright: "true"
      
      - name: Run daily update
        env:
          GH_TOKEN: ${{ github.token }}
        run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" bun run daily
      
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add db/**/*.csv
          git diff --staged --quiet || git commit -m "data: daily rates update"
          git push
